.Cart_btn {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url("https://www.freeiconspng.com/uploads/basket-cart-icon-27.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: bottom right;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}

.Cart {
  position: absolute;
  border-radius: 10px;
  top: 0px;
  right: -500px;

  .close-cart {
    padding: 10px;
  }

  ul {
    max-width: 400px;
    max-height: 100vh;
    list-style: none;
    background-color: rgb(75, 83, 88);
    background: linear-gradient(120deg, rgb(98, 110, 117), rgb(34, 46, 61));
    /* background-color: rgb(43, 43, 43); */
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    overflow-y: auto;
    box-shadow: 0px 2px 5px black;

    li:nth-child(1) {
      background-color: transparent;
      text-align: right;
      border: 0;
      box-shadow: none;
    }

    li {
      background-color: rgb(43, 43, 43);
      /* background-color: rgba(22, 22, 22, 0.839); */
      border: 0px solid white;
      border-radius: 10px;
      padding: 20px 10px;
      margin-bottom: 10px;
      position: relative;
      box-shadow: 2px 2px 5px black, inset 1px 1px 2px white,
        inset -1px -1px 2px black;

      .delete-btn {
        position: absolute;
        top: 8px;
        right: 10px;
        background-color: transparent;
        border: 0;
        color: white;
        cursor: pointer;
      }
    }

    h2 {
      font-family: "Anton", sans-serif;
      letter-spacing: 2px;
      font-size: 1.3rem;
      color: white;
      margin-bottom: 5px;
      text-shadow: 1px 1px 1px black, 2px 2px 2px red;
    }

    p {
      text-align: right;
      margin-top: 10px;
    }
  }
}

.show-cart {
  animation: cart 0.5s ease-out forwards;
}

@keyframes cart {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-500px);
  }
}
