@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Anton&display=swap");
@import "./Components/Cart/Cart";
@import "./Components/Preview/Preview";
@import "./Components/Menu/Menu";
@import "./Components/Header/Header";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 24, 24);
  color: white;
  height: 100vh;
  text-shadow: 2px 2px 1px black;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.336),
      rgba(47, 87, 49, 0.418)
    ),
    url("https://smo.wiki/mediawiki/images/6/67/Mushroom_Kingdom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}


