@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import "./Components/Cart/Cart";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 24, 24);
  color: white;
  height: 100vh;
  text-shadow: 2px 2px 1px black;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.336),
      rgba(47, 87, 49, 0.418)
    ),
    url("https://smo.wiki/mediawiki/images/6/67/Mushroom_Kingdom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 4rem;
  padding: 20px;
}

h2 {
  text-align: center;
}

.Menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;

  .Menu-list {
    max-width: 1020px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .topping-items {
    width: 100%;
  }
}

.title {
  cursor: pointer;
  color: rgba(208, 26, 26, 0.497);
  color: white;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 1px;
  text-shadow: 2px 2px 1px rgb(208, 26, 26);
}

.coins {
  color: yellow;
}

.menu-item {
  list-style: none;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #434343;
  /* background: linear-gradient(120deg, rgba(40, 64, 46, 0.658), rgba(0, 0, 0, 0.798)); */
  padding: 20px;
  padding-bottom: 40px;
  width: 500px;
  transition: 0.7s;
  font-size: 1.2rem;
  box-shadow: 2px 2px 5px black, inset 1px 1px 5px white,
    inset -1px -1px 10px black;
  position: relative;
  letter-spacing: 1px;

  .bottom-row {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin-top: 20px;
    color: rgb(224, 224, 224);
    letter-spacing: 0;
  }
}

.Preview {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.606);

  .pizza-preview {
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(43, 43, 43);
    background-image: url("./luigi.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    padding: 30px;

    ul {
      list-style: none;
    }

    .extra{
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      width: fit-content;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;

      button{
        margin-left: 5px;
      }
    }

    input {
      margin-right: 10px;
      margin-top: 10px;
    }

    select {
      margin: 10px 0;
    }
  }
}

input[type="checkbox"] {
  accent-color: white;
}

